<div class="details-container">
    <div
        class="tileLabel"
        [ngClass]="{'highlightedLabel': currentSection === 'importantDates'}"
        [routerLink]="['/personal', 'importantDates']"
    >
        Important Dates
    </div>
    <!-- <div
        class="tileLabel"
        [ngClass]="{'highlightedLabel': currentSection === 'myBookWorld'}"
        [routerLink]="['/personal', 'myBookWorld']"
    >
        My Book World
    </div> -->
    <div
        class="tileLabel"
        [ngClass]="{'highlightedLabel': currentSection === 'adventCalendar'}"
        [routerLink]="['/personal', 'adventCalendar']"
    >
        Advent Calendar
    </div>

    <router-outlet></router-outlet>
</div>