<div class="image-wrapper">
  <div class="image"></div>
  <div class="heart">
    <span class="heart-text">Ms. Nia Right</span>
  </div>
  <div class="button-container">
    <span class="heart1-text"><button mat-flat-button color="primary">Open Editor</button></span>
  </div>
</div>
<img src="https://media.tenor.com/v1Y9L0tJMy8AAAAi/attention-black-cat.gif" alt="Waving Cat" style="width:100px; position: fixed; bottom: 10px; right: 10px;">
<mat-tab-group>
  <mat-tab label="Important Dates">
    <div class="tab">
      <app-my-calendar></app-my-calendar>
    </div>
  </mat-tab>
  <mat-tab label="Advent Calendar">
    <div class="tab">
      <app-advent-calendar></app-advent-calendar>
    </div>
  </mat-tab>
</mat-tab-group>  

