.image-wrapper {
  position: relative;
  width: 260px; /* Adjust size as needed */
  height: 370px; /* Adjust size as needed */
  margin-bottom: 2rem;
}

.image {
  width: 100%;
  height: 100%;
  margin: 2.5rem;
  background-image: url('/assets/Nyssa.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid transparent; /* Invisible border */
  border-radius: 15px; /* Rounded corners */
  padding: 5px; /* Space between the image and the border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #155273;
  clip-path: polygon(
    51% 28%, 68% 9%, 90% 15%, 97% 42%, 
    80% 72%, 53% 93%, 25% 74%, 5% 42%, 
    13% 14%, 38% 9%
  );
  margin: 180px 0 0 200px;
  
  .heart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Text color */
    font-size: 1.5em; /* Text size */
    text-align: center; /* Center text horizontally */
    padding: 10px; /* Add some padding if needed */
  }
}


.button-container {
  .heart1-text {
    position: absolute;
    width: 200px;
    top: 0;
    margin-left: 420px;
  }
}


.tab {
  padding: 50px 100px;
}