<div id="custom-toolbar">
    <span class="go-back">
        <button class="no-padding" (click)="onBackArrowClick(focusMode)">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </span>
    <span class="options" [ngStyle]="toolbarHidden ? {visibility: 'hidden'} : {}">
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <span class="ql-formats" style="position: relative;">
                <button mat-icon-button type="button" style="position: relative; z-index: 1;">
                    <mat-icon>palette</mat-icon>
                    <input
                    type="color"
                    [(ngModel)]="selectedColor"
                    (change)="applyColor($event)"
                    style="
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                    "
                    />
                </button>
            </span>
          </span>
          
          <span class="ql-formats">
            <button class="ql-blockquote"></button>
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
          </span>
          
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-clean"></button>
          </span>

          <span class="ql-formats">
            <button class="no-padding" (click)="save()">
                <mat-icon>save</mat-icon>
            </button>
          </span>
          
          <span class="ql-formats">
            <button class="no-padding" (click)="toggleFocusMode()" [ngStyle]="focusMode ? {display: 'none'} : {}">
                <mat-icon>fullscreen</mat-icon>
            </button>
          </span>

    </span>
    <span class="open-options" [ngStyle]="!focusMode ? {visibility: 'hidden'} : {}">
        <button class="no-padding" (click)="openOptions()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </span>
</div>
  
<div [class.focus-mode]="focusMode" class="editor-container">
<quill-editor
    class="editor"
    [(ngModel)]="content"
    [modules]="modules">
</quill-editor>
</div>
  
<div class="word-count">
{{ wordCount }} words • {{ charCount }} characters
</div>